body {
    background-image: url(https://openwiki.kr/lib/exe/fetch.php?w=50&tok=3b1114&media=https%3A%2F%2Fcdn0.iconfinder.com%2Fdata%2Ficons%2Focticons%2F1024%2Fmark-github-256.png);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: 3% 96%;
}

